{%extends 'base.html'%}

{%block content%}

<div class="container">
  <!-- Top headlines section -->
  <h3>Top Sources</h3>
  {% for source in sources | batch(4) %}
  <div class="row">
    {% for source in source %}
    <div class="col-md-3">
      <div class="card text-center border-secondary mb-3">
        <p {{source.name}}>
        </p>
        <div class="card-body">
          <div class="card-title"><a href="{{source.url}}" target="_blank">{{source.name}}
            </a></div>
          <p class="card-text">{{source.description|truncate(100)}}</p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {%endfor%}
</div>

{% endblock %}